<a href="https://colab.research.google.com/github/marine20000427/aipython/blob/main/25_09_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
num = int(input("숫자를 입력하세요: "))

숫자를 입력하세요: 1

In [9]:
if num % 2 == 0:
  print("짝수입니다")

In [5]:
5

5

In [6]:
2

2

In [8]:
num = int(input("숫자를 입력하세요: "))

숫자를 입력하세요: 5

In [10]:
if num % 2 == 0:
  print("짝수입니다")

In [11]:
2

2

In [16]:
num = int(input("숫자를 입력하세요: "))
if num % 2 == 0:
  print("짝수입니다")
else:
  print("홀수입니다")

숫자를 입력하세요: 96
짝수입니다

In [13]:
5

5

In [14]:
2

2

In [18]:
50

50

In [24]:
for range(1,7)

SyntaxError: cannot assign to function call (ipython-input-3463219522.py, line 1)

In [26]:
range(1,7)

range(1, 7)

In [27]:
range(5)

range(0, 5)

In [28]:
range(1, 6)

range(1, 6)

In [29]:
sum = 0 # 합계를 저장할 변수를 0으로 초기화
# 1부터 5까지의 숫자를 a에 차례로 대입하며 반복
for a in range(1, 6):
sum = sum + a # 기존 sum 값에 현재 a 값을 더해서 다시 저장
print("1부터 5까지의 합은", sum, "입니다.")

IndentationError: expected an indented block after 'for' statement on line 3 (ipython-input-1008781307.py, line 4)

In [33]:
sum = 0 # 합계를 저장할 변수를 0으로 초기화
# 1부터 5까지의 숫자를 a에 차례로 대입하며 반복
for a in range(1, 6):
  sum = sum + a # 기존 sum 값에 현재 a 값을 더해서 다시 저장
print("1부터 5까지의 합은", sum, "입니다.")

1부터 5까지의 합은 15 입니다.

In [34]:
sum = 0 # 합계를 저장할 변수를 0으로 초기화
# 1부터 5까지의 숫자를 a에 차례로 대입하며 반복
for a in range(1, 6):
  sum = sum + a # 기존 sum 값에 현재 a 값을 더해서 다시 저장
  print("1부터 5까지의 합은", sum, "입니다.")

1부터 5까지의 합은 1 입니다.
1부터 5까지의 합은 3 입니다.
1부터 5까지의 합은 6 입니다.
1부터 5까지의 합은 10 입니다.
1부터 5까지의 합은 15 입니다.

In [36]:
sum = 0 # 합계를 저장할 변수를 0으로 초기화
# 1부터 5까지의 숫자를 a에 차례로 대입하며 반복
for a in range(1, 500):
  sum = sum + a # 기존 sum 값에 현재 a 값을 더해서 다시 저장
print("1부터 5까지의 합은", sum, "입니다.")

1부터 5까지의 합은 124750 입니다.

In [45]:
짝수_sum = 0
홀수_sum = 0

for number in range(1, 101):
  if number % 2 == 0:
    even_sum += number
  else:
    odd_sum += number

print("1부터 100까지의 짝수의 합:", even_sum)
print("1부터 100까지의 홀수의 합:", odd_sum)

1부터 100까지의 짝수의 합: 20400
1부터 100까지의 홀수의 합: 20000

In [44]:
짝수_sum = 0
홀수_sum = 0

for number in range(1, 101):
  if number % 2 == 0:
    even_sum += number
  else:
    odd_sum += number

print("1부터 100까지의 짝수의 합:", even_sum)
print("1부터 100까지의 홀수의 합:", odd_sum)

1부터 100까지의 짝수의 합: 17850
1부터 100까지의 홀수의 합: 17500

In [46]:
짝수_sum = 0
홀수_sum = 0

for number in range(1, 101):
  if number % 2 == 0:
    짝수_sum += number
  else:
    홀수_sum += number

print("1부터 100까지의 짝수의 합:", 짝수_sum)
print("1부터 100까지의 홀수의 합:", 홀수_sum)

1부터 100까지의 짝수의 합: 2550
1부터 100까지의 홀수의 합: 2500

In [47]:
짝수_sum = 0
홀수_sum = 0

for number in range(1, 101, 2):
  if number % 2 == 0:
    짝수_sum += number
  else:
    홀수_sum += number

print("1부터 100까지의 짝수의 합:", 짝수_sum)
print("1부터 100까지의 홀수의 합:", 홀수_sum)

1부터 100까지의 짝수의 합: 0
1부터 100까지의 홀수의 합: 2500

In [48]:
짝수_sum = 0
홀수_sum = 0

for number in range(1, 101):
  if number % 2 == 0:
    짝수_sum += number
  else:
    홀수_sum += number

print("1부터 100까지의 짝수의 합:", 짝수_sum)
print("1부터 100까지의 홀수의 합:", 홀수_sum)

1부터 100까지의 짝수의 합: 2550
1부터 100까지의 홀수의 합: 2500

In [49]:
sum = 0 # 저금 총액
money = 100 # 첫날 저금할 금액
day = 1 # 날짜
# 저금 총액(sum)이 50000보다 작은 동안 계속 반복
while sum < 50000:
  sum = sum + money # 총액에 오늘의 저금액을 더함
  money = money + 100 # 내일 저금할 금액은 100원 증가
  day = day + 1 # 날짜를 하루 증가
print("총", day, "일이 걸립니다.")

총 33 일이 걸립니다.

In [50]:
sum = 0 # 저금 총액
money = 1000 # 첫날 저금할 금액
day = 1 # 날짜
# 저금 총액(sum)이 50000보다 작은 동안 계속 반복
while sum < 50000:
  sum = sum + money # 총액에 오늘의 저금액을 더함
  money = money + 100 # 내일 저금할 금액은 100원 증가
  day = day + 1 # 날짜를 하루 증가
print("총", day, "일이 걸립니다.")

총 25 일이 걸립니다.

In [51]:
sum = 0 # 저금 총액
money = 10000 # 첫날 저금할 금액
day = 1 # 날짜
# 저금 총액(sum)이 50000보다 작은 동안 계속 반복
while sum < 50000:
  sum = sum + money # 총액에 오늘의 저금액을 더함
  money = money + 100 # 내일 저금할 금액은 100원 증가
  day = day + 1 # 날짜를 하루 증가
print("총", day, "일이 걸립니다.")

총 6 일이 걸립니다.

In [52]:
sum = 0 # 저금 총액
money = 1000 # 첫날 저금할 금액
day = 1 # 날짜
# 저금 총액(sum)이 50000보다 작은 동안 계속 반복
while sum < 50000:
  sum = sum + money # 총액에 오늘의 저금액을 더함
  money = money + 1000 # 내일 저금할 금액은 100원 증가
  day = day + 1 # 날짜를 하루 증가
print("총", day, "일이 걸립니다.")

총 11 일이 걸립니다.

In [53]:
sum = 0 # 저금 총액
money = 1000 # 첫날 저금할 금액
day = 1 # 날짜
# 저금 총액(sum)이 50000보다 작은 동안 계속 반복
while sum < 50000:
  sum = sum + money # 총액에 오늘의 저금액을 더함
  money = money + 1233 # 내일 저금할 금액은 100원 증가
  day = day + 1 # 날짜를 하루 증가
print("총", day, "일이 걸립니다.")

총 10 일이 걸립니다.

In [54]:
sum = 0 # 저금 총액
money = 1000 # 첫날 저금할 금액
day = 1 # 날짜
# 저금 총액(sum)이 50000보다 작은 동안 계속 반복
while sum < 50000:
  sum = sum + money # 총액에 오늘의 저금액을 더함
  money = money + 1000 # 내일 저금할 금액은 100원 증가
  # 날짜를 하루 증가
print("총", day, "일이 걸립니다.")

총 1 일이 걸립니다.

In [55]:
sum = 0 # 저금 총액
money = 1000 # 첫날 저금할 금액
day = 1 # 날짜
# 저금 총액(sum)이 50000보다 작은 동안 계속 반복
while sum < 50000:
  sum = sum + money # 총액에 오늘의 저금액을 더함
  money = money + 1000 # 내일 저금할 금액은 100원 증가
  day = day - 1 # 날짜를 하루 증가
print("총", day, "일이 걸립니다.")

총 -9 일이 걸립니다.

In [56]:
sum = 0 # 저금 총액
money = 1000 # 첫날 저금할 금액
day = 1 # 날짜
# 저금 총액(sum)이 50000보다 작은 동안 계속 반복
while sum < 50000:
  sum = sum + money # 총액에 오늘의 저금액을 더함
  money = money + 1000 # 내일 저금할 금액은 100원 증가
  day = day + 1 # 날짜를 하루 증가
print("총", day, "일이 걸립니다.")

총 11 일이 걸립니다.

In [61]:
all_sum = 0 #초기화

while True:
  num = int(input("숫자 입력(종료하려면 0 입력):"))
  if num == 0:
    break
  all_sum += num

print("입력된 숫자들의 총합:", all_sum)

숫자 입력(종료하려면 0 입력):001
숫자 입력(종료하려면 0 입력):002
숫자 입력(종료하려면 0 입력):01
숫자 입력(종료하려면 0 입력):0
입력된 숫자들의 총합: 4